body{
    margin: 0;
}

.max_width{
    width:100%;
    margin: 0;
}
.min_width{
    width: 1170px;
    margin: 0 auto;
}

/* banner part */

#banner{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../image/banner03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_text h1{
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 700;
   
    font-family: 'Roboto', sans-serif;

}
.banner_text p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.banner_text a{
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5%;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background: #090a27;
}

/* banner part end */
#today{
    margin-top: 150px;
    margin-bottom: 150px;
   

}

.card_item{
    display: flex;
    margin: 0 auto;
}

.today_text {
    text-align: center;
}

.today_text h2{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.today_text p{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.today_card{
    margin-left: 30px;
    width: 123px;
    height: 136px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5%;
    text-align: center;
}
.today_card h3{
    padding-top: 40px;
}


.today_form{
    margin-top: 30px;
    text-align: center;
}

.amount{
    width: 1000px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid black;
}

.today_button a{
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5%;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background: #090a27;
}
.today_button {
    margin-top: 50px;
    text-align: center;
}

/* today part end */

#our_donate{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}

.our_donate_card_1 {
    width: 330px;
    background: #ceeff3;
    border-radius: 3%;
    margin-left: 30px;

}

.our_donate_text{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.our_donate_text img{
    height: 80px;
    width: 80px;
}

.our_donate_card_2   {
    width: 330px;
    background: #ffcccc;
    border-radius: 3%;
    margin-left: 30px;

}

.our_donate_card_3  {
    margin-left: 30px;
    width: 330px;
    background: #fce7ad;
    border-radius: 3%;

}

.our_donate_item{
    display: flex;
}

.donat{
    font-size: 24px;
    color: #121212;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
.donat01{
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}

/* need start */

#need{
    margin-top: 150px;
    margin-bottom: 150px;
}

.their_h1{
    text-align: center;
    color: #121212;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

}

.their_p{
    padding-bottom: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}
.their_need{
    display: flex;
    margin-bottom: 50px;
    margin: 0 auto;
   
}

.their_need01{
    width: 350px;
    text-align: center;
}

.their_need01 img{
    width: 200px;
    height: 100px;
    border-radius: 15%;
    color: #FF5959;
    border: 2px solid   #121212; 
}
.their_need02{
    width: 450px;
   
}
.their_need02 img{
   border-radius: 15px;
   border: 5px solid   #121212; 
}
